@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


nav.flex  div {
  flex-grow: 1;
}
.flex-grow-2 {
  flex-grow: 2;
}

.topAnime-1{
  @apply shadow-md rounded-lg md:col-span-4 
  md:row-span-6 sm:col-span-6 sm:row-span-4 
  col-start-1 row-start-1 row-span-3 col-span-10
}
.topAnime-2{
  @apply shadow-md rounded-lg 
  md:col-start-5 md:row-start-1 md:col-span-4 md:row-span-3 
  sm:col-start-1 sm:row-start-5 sm:col-span-5 sm:row-span-2 
  row-start-4  col-span-5 row-span-1
}
.topAnime-3{
  @apply shadow-md rounded-lg
  md:col-start-9 md:row-start-1 md:col-span-2 md:row-span-2 
  sm:col-start-7 sm:row-start-1 sm:col-span-4 sm:row-span-2
  col-start-6 row-start-4  col-span-5 row-span-1
}

.topAnime-4{
  @apply shadow-md rounded-lg
  md:col-start-5 md:row-start-4 md:col-span-4 md:row-span-3
  sm:col-start-6 sm:row-start-5 sm:col-span-5 sm:row-span-2
  row-start-5  col-span-5 row-span-1
}

.topAnime-5{
  @apply shadow-md rounded-lg
  md:col-span-2 md:row-span-4
  sm:col-start-7 sm:row-start-3 sm:col-span-4 sm:row-span-2
  col-start-6 row-start-5  col-span-5 row-span-1
}